.widget-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.widget-title-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1px 3px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.widget-title-bar .spacer {
    flex-grow: 1;
}

.widget-title-bar .settings-icon {
    cursor: pointer;
}

.log-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 3px;
    background-color: #fff;
}

.log-content pre {
    margin: 0 0 5px 0;
    white-space: pre-wrap;
}
